.mapEmbed {
  margin: 0;
  padding: 0;
  width: 100vw;
}

@media (orientation: landscape) {
  .mapEmbed {
    height: 15vw;
  }
}

@media (orientation: portrait) {
  .mapEmbed {
    height: 50vw;
  }
}
