.map {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.mapEmbed {
  line-height: 0;
}

@media (orientation: landscape) {
  .map {
    height: 15vw;
  }
}

@media (orientation: portrait) {
  .map {
    height: 50vw;
  }
}
