.footer {
  background-image: url("https://images.pexels.com/photos/4928606/pexels-photo-4928606.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-color: rgba(0, 0, 0, 0.9);
  background-position: 0% -62.5%;
  background-blend-mode: multiply;
  column-gap: 2rem;
  display: grid;
  background-size: cover;
}

.footer > address {
  position: relative;
}

.footerCopyright {
  display: flex;
  flex-direction: column;
}

.footerItemHeader {
  font-weight: 600;
  padding: 0 0 1rem 0;
}

.footerSubContents {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 0.5rem 0;
}

.footerSubContents > span {
  display: flex;
  align-items: center;
}

/* icons */

.icon {
  background: white;
  border-radius: 0.2em;
}

.facebookIcon {
  color: #4267b2;
}

.instagramIcon {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  color: white;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.twitterIcon {
  color: #26a7de;
}

/* screen orientation styles */

@media (orientation: landscape) and (width < 1920px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2;
    padding: 4rem;
    column-gap: 5vw;
    row-gap: 5vw;
  }
}

@media (orientation: landscape) and (width >= 1920px) {
  .footer {
    grid-template-columns: repeat(4, 1fr);
    padding: 6rem;
    column-gap: 10vw;
    row-gap: 10vw;
  }
}

@media (orientation: portrait) {
  .footer {
    padding: 2rem;
    row-gap: 2rem;
  }

  .copywrightPlacement {
    order: 4;
  }

  .contactInfo {
    order: 1;
  }

  .operationalHours {
    order: 2;
  }

  .quickLinks {
    order: 3;
  }
}
