* {
  border: none;
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
  outline: none;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body,
html {
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  width: 100%;
}

button[type="submit"] {
  background-color: rgb(2, 117, 216);
  border: none;
  color: white;
  outline: none;
}

button[type="submit"]:hover {
  background: rgb(0, 100, 204);
  cursor: pointer;
}

input[type="number"] {
  padding: 0 0 0 0.25rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.centered {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.padded {
  padding: 0 1rem 1rem 1rem;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  padding: 2rem;
  color: white;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

@media (orientation: landscape) {
  main {
    padding: 4rem;
  }
  .nextLink {
    border-bottom: 1px solid transparent;
    color: rgb(225, 225, 225);
  }
  .nextLink:hover {
    border-bottom: 1px solid white;
    color: white;
    transition: 250ms;
  }
}

@media (orientation: portrait) {
  .nextLink {
    color: white;
  }
}

/* display regular */
@media (orientation: landscape) and (width > 720px) {
  * {
    font-size: calc(1.15vw - 1vh);
    /* border: 1px solid red; */
  }
  h1 {
    font-size: calc(1.65vw - 1vh);
  }
  h2 {
    font-size: calc(1.55vw - 1vh);
  }
  h3 {
    font-size: calc(1.45vw - 1vh);
  }
  h4 {
    font-size: calc(1.35vw - 1vh);
  }
  h5 {
    font-size: calc(1.25vw - 1vh);
  }
}

/* display small */
@media (orientation: landscape) and (width < 720px) {
  * {
    font-size: calc(2.15vw - 1vh);
    /* border: 1px solid red; */
  }
  h1 {
    font-size: calc(2.65vw - 1vh);
  }
  h2 {
    font-size: calc(2.55vw - 1vh);
  }
  h3 {
    font-size: calc(2.45vw - 1vh);
  }
  h4 {
    font-size: calc(2.35vw - 1vh);
  }
  h5 {
    font-size: calc(2.25vw - 1vh);
  }
}

@media (orientation: portrait) {
  * {
    font-size: 1rem - 2vw;
  }
  main {
    padding: 2rem;
  }
}
