* {
  border: none;
  box-sizing: border-box;
  font-family: NotoSerif, serif, sans-serif;
  font-weight: 400;
  margin: 0;
  outline: none;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body,
html {
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  width: 100%;
}

button[type="submit"] {
  background-color: rgb(2, 117, 216);
  border: none;
  color: white;
  outline: none;
}

button[type="submit"]:hover {
  background: rgb(0, 100, 204);
  cursor: pointer;
}

input[type="number"] {
  padding: 0 0 0 0.25rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

svg {
  padding: 0;
  margin: 0;
}

.centered {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.padded {
  padding: 0 1rem 1rem 1rem;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  padding: 2rem;
  color: white;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* font family */

@font-face {
  font-family: "NotoSerif";
  src: url("../asset/NotoSerif/NotoSerif-Italic-VariableFont_wdth\,wght.ttf");
  src: url("../asset/NotoSerif/NotoSerif-VariableFont_wdth\,wght.ttf");
  font-weight: 400;
  font-style: normal;
}

/* screen orientation styles */

@media (orientation: landscape) {
  main {
    padding: 4rem;
  }
  .nextLink {
    border-bottom: 1px solid transparent;
    color: rgb(225, 225, 225);
  }
  .nextLink:hover {
    border-bottom: 1px solid white;
    color: white;
    transition: 250ms;
  }
}

@media (orientation: portrait) {
  .nextLink {
    color: white;
  }
}

@media (orientation: landscape) and (width < 1920px) {
  main {
    padding: 4rem;
  }
}

@media (orientation: landscape) and (width >= 1920px) {
  main {
    padding: 6rem;
  }
}

/* font size */

@media (orientation: landscape) and (width > 1280px) {
  * {
    font-size: 0.65vw;
  }
  h1 {
    font-size: 1vw;
  }
  h2 {
    font-size: 0.95vw;
  }
  h3 {
    font-size: 0.9vw;
  }
  h4 {
    font-size: 0.85vw;
  }
  h5 {
    font-size: 0.8vw;
  }
}

@media (orientation: landscape) and (width < 1280px) and (width > 800px) {
  * {
    font-size: 0.65vw;
  }
  h1 {
    font-size: 1vw;
  }
  h2 {
    font-size: 0.95vw;
  }
  h3 {
    font-size: 0.9vw;
  }
  h4 {
    font-size: 0.85vw;
  }
  h5 {
    font-size: 0.8vw;
  }
}

@media (orientation: landscape) and (width < 800px) {
  * {
    font-size: 2vw;
  }
  h1 {
    font-size: 2.5vw;
  }
  h2 {
    font-size: 2.4vw;
  }
  h3 {
    font-size: 2.3vw;
  }
  h4 {
    font-size: 2.2vw;
  }
  h5 {
    font-size: 2.1vw;
  }
}

@media (orientation: portrait) {
  * {
    font-size: 2vh;
  }
  h1 {
    font-size: 2.5vh;
  }
  h2 {
    font-size: 2.4vh;
  }
  h3 {
    font-size: 2.3vh;
  }
  h4 {
    font-size: 2.2vh;
  }
  h5 {
    font-size: 2.1vh;
  }
  main {
    padding: 2rem;
  }
}
