.carfax {
  /* border-radius: 0 1rem 0 0; */
  border: 1px solid transparent;
  border-radius: 0 1rem;
  font-size: 0;
  right: 0;
  padding: 0;
  position: absolute;
  outline: 2px solid transparent;
  overflow: hidden;
  top: 0;
  width: fit-content;
}

.carfax:hover {
  /* box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25); */
  border: 1px solid transparent;
  outline: 2px solid rgb(2, 117, 216);
}

.carfaxImage {
  object-fit: contain;
}

.carfaxLink {
  height: 100%;
  line-height: 0;
}

.imageContainer {
  line-height: 0;
}

.imageContainer > img {
  width: 100%;
}

.previewCard {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.previewCard:hover {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.textContainer {
  color: black;
  padding: 1rem;
}

@media (orientation: landscape) {
  /* .carfax {
    filter: brightness(90%);
  }
  .carfax:hover {
    filter: brightness(100%);
  } */
}

@media (orientation: portrait) {
  /* .carfax > a > img {
    width: 32vw;
  } */
}

@media (orientation: landscape) and (width < 1000px) {
  /* .carfax > a > img {
    width: 16vw;
  } */
}

@media (orientation: landscape) and (width >= 1000px) {
  /* .carfax > a > img {
    width: 12vw;
  } */
}

@media (orientation: landscape) and (width >= 1920px) {
  /* .carfax > a > img {
    width: 8vw;
  } */
}
