.carouselImg {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.headerLayer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}

.logoImage {
  filter: brightness(50%);
  height: 5rem;
  object-fit: cover;
  position: relative;
  width: 20rem;
  z-index: 100;
}

.logoName {
  /* font-size: 1rem; */
  font-weight: 500;
  left: 50%;
  position: absolute;
  top: 50%;
  translate: -50% -50%;
  width: 100%;
  z-index: 1000;
}

.navItem {
  padding: 2rem 0.5rem;
}

.navList {
  display: flex;
  flex-direction: row;
  padding: 0 1.5rem;
}

.promoItem:hover {
  opacity: 0.9;
}

.swiper {
  height: fit-content;
}

.titleBanner {
  cursor: pointer;
  position: relative;
  text-align: center;
}

@media (orientation: landscape) and (width < 1080px) {
  .headerLayer {
    padding: 0 4rem;
  }
}

@media (orientation: landscape) and (width > 1080px) {
  .headerLayer {
    padding: 0 6rem;
  }
}

@media (orientation: portrait) {
  .carouselImg {
    height: 16vh;
  }
}

@media (orientation: landscape) {
  .carouselImg {
    height: 16vw;
  }
}
